<header class="site__header" role="banner">

  <div class="wrapper">

    <a class="site__title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

    <nav class="nav__collection">
        {% for my_page in site.pages %}{% if my_page.title %}<a class="nav__link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>{% endif %}{% endfor %}
        <a class="rss__icon" href="{{ "/feed.xml" | relative_url }}">{% include icon-rss.svg %}</a>
    </nav>

  </div>

</header>