---
layout: default
---

<div class="home">
  
  <ul class="post__list">
    {% for post in site.posts %}
      <li class="post__item">
        <span class="post__meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2 class="post__title">
          <a class="post__link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss__icon"><a href="{{ "/feed.xml" | relative_url }}">{% include icon-rss.svg %}</a></p>

</div>